## React ignore

.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

react-front/packages/react-devtools-core/dist
react-front/packages/react-devtools-extensions/chrome/build
react-front/packages/react-devtools-extensions/chrome/*.crx
react-front/packages/react-devtools-extensions/chrome/*.pem
react-front/packages/react-devtools-extensions/firefox/build
react-front/packages/react-devtools-extensions/firefox/*.xpi
react-front/packages/react-devtools-extensions/firefox/*.pem
react-front/packages/react-devtools-extensions/shared/build
react-front/packages/react-devtools-extensions/.tempUserDataDir
react-front/packages/react-devtools-inline/dist
react-front/packages/react-devtools-shell/dist
react-front/packages/react-devtools-timeline/dist
